@font-face {
  font-family: "SF Pro Bold";
  src: url("./fonts/SF-Pro-Display-Bold.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Medium";
  src: url("./fonts/SF-Pro-Display-Medium.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.OTF") format("opentype"); }
h1, h2, h3, a {
  font-family: 'SF Pro Bold'; }

h1 {
  font-size: 46px;
  line-height: 55px;
  color: #fff; }
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 44px; } }
  @media only screen and (max-width: 766px) {
    h1 {
      font-size: 26px;
      line-height: 31px; } }

h2 {
  font-size: 26px;
  line-height: 38px;
  color: #F0F0F0; }
  @media only screen and (max-width: 766px) {
    h2 {
      font-size: 24px;
      line-height: normal; } }

p, input, select {
  font-family: 'SF Pro Display'; }

input, select {
  font-size: 18px;
  line-height: 21px;
  color: #5D6472; }

body {
  background: #111;
  overflow-x: hidden;
  scroll-behavior: smooth; }

a {
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%; }

.row {
  align-items: center; }

h2 {
  font-size: 32px;
  line-height: 40px;
  color: #EFEBFF; }

header .menu {
  padding: 50px 0 0; }
header .navbar-expand-lg .navbar-collapse {
  justify-content: end; }
  header .navbar-expand-lg .navbar-collapse .nav-item {
    text-align: center; }
    header .navbar-expand-lg .navbar-collapse .nav-item a {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.5px;
      color: #FFF; }
      header .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
        margin-right: 24px; }
  header .navbar-expand-lg .navbar-collapse .btn-area {
    display: flex;
    justify-content: flex-end; }
  header .navbar-expand-lg .navbar-collapse .btn {
    background: #3E465F;
    border-radius: 10px;
    padding: 16px 28px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF; }
    header .navbar-expand-lg .navbar-collapse .btn.purple {
      background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
      border-radius: 100px;
      min-width: 89px; }
header h1 {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px; }
header canvas#spline {
  height: 500px; }

.btn {
  padding: 16px 40px;
  font-size: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  min-width: 200px;
  border-radius: 100px;
  text-align: center; }
  .btn.primary {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%); }
    .btn.primary:hover {
      background: #fff; }
      .btn.primary:hover span {
        background-image: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
        background-clip: text;
        -webkit-background-clip: text;
        /* Alguns navegadores precisam do prefixo */
        -webkit-text-fill-color: transparent; }
  .btn.secondary {
    background: #212121;
    border-radius: 100px;
    color: #fff; }
    .btn.secondary:hover {
      color: #212121;
      background: #fff; }

.how-works {
  margin: 140px 0 115px; }
  .how-works .tabs {
    background: #0A0A0A;
    border-radius: 16px;
    padding: 60px 0 0 40px;
    height: 400px; }
    .how-works .tabs .nav-tabs {
      border: 0; }
      .how-works .tabs .nav-tabs .nav-item:first-child {
        margin: 0 16px 0 0; }
      .how-works .tabs .nav-tabs .nav-item .for-myProgress {
        width: 100%;
        background-color: #5C688D;
        margin-bottom: 20px; }
      .how-works .tabs .nav-tabs .nav-item .status {
        width: 0%;
        height: 3px;
        background-color: #ffffff;
        transition: all 0s ease-in-out; }
      .how-works .tabs .nav-tabs .nav-item .for-myBar-1.status .active, .how-works .tabs .nav-tabs .nav-item .for-myBar-2.status .active {
        width: 100%;
        height: 3px;
        background-color: #ffffff; }
      .how-works .tabs .nav-tabs .nav-item .for-myBar-1.status.active, .how-works .tabs .nav-tabs .nav-item .for-myBar-2.status.active {
        width: 100%;
        transition: all 6s ease-in-out; }
      .how-works .tabs .nav-tabs .nav-link {
        background-color: transparent;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        align-items: center;
        color: #3E465F;
        padding: 0 0 12px;
        border: 0; }
        .how-works .tabs .nav-tabs .nav-link.active {
          border-bottom: 3px solid #FFFFFF;
          color: #FFFFFF; }
    .how-works .tabs .tab-content h3 {
      font-weight: 500;
      font-size: 26px;
      color: #F0F0F0; }
  .how-works a {
    font-size: 20px;
    line-height: 24px; }

.steps h4 {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF; }
.steps p {
  font-size: 18px;
  line-height: 32px;
  color: #E3E3E3; }
.steps .subtitle {
  position: relative;
  top: 0.5rem;
  font-weight: 700;
  font-size: 18px;
  color: #FFFFFF;
  opacity: 0.6; }
.steps .card {
  background: url("assets/image/bg-small-step.png") no-repeat top;
  background-size: cover;
  border-radius: 16px;
  padding: 40px;
  margin: 50px 0;
  max-width: 420px; }
  .steps .card:last-child {
    background: url("assets/image/bg-step.png") no-repeat center;
    background-size: cover;
    max-width: 820px;
    padding: 40px 60px;
    margin: 50px 0 0; }
  .steps .card .last-step {
    border-bottom: 1px solid #37354C; }
.steps .internal-cards {
  height: 240px; }
.steps .number {
  background: #141414;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 20px;
  display: flex;
  align-items: center;
  color: #fff; }
.steps .mobile {
  background: url("assets/image/mobile.png") center center no-repeat;
  background-size: cover;
  padding: 50px 50px;
  margin: -50px -50px; }
  .steps .mobile video {
    height: 500px;
    width: 230px;
    border-radius: 20px;
    object-fit: cover; }
.steps .tips h4 {
  font-family: 'SF Pro Bold';
  font-size: 18px;
  line-height: 32px;
  color: #9F9F9F;
  width: 70px;
  padding: 10px;
  background: #1B1B1B;
  border-radius: 10px; }
.steps .tips p {
  font-size: 18px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #EFEBFF;
  opacity: 0.6; }

.cta {
  padding: 130px 0 50px; }

.faq {
  padding: 100px 0 0; }
  .faq h2 {
    font-family: "SF Pro Medium";
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #E3E3E3;
    opacity: 0.8; }
  .faq .accordion {
    width: 70%;
    margin: 0 auto; }
  .faq .accordion-button {
    background: #232323;
    color: #E3E3E3;
    margin: 16px 0;
    padding: 0 24px; }
    .faq .accordion-button::after {
      filter: contrast(0.1); }
    .faq .accordion-button:not(.collapsed) {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
      padding-bottom: 16px; }
  .faq .accordion-item {
    background: #232323;
    border-radius: 16px;
    color: #fff;
    border: 1px solid #232323;
    margin: 12px 0; }
  .faq .accordion-body {
    padding: 8px 24px 24px; }

footer {
  margin-top: 140px;
  border-top: 1px solid #3E465F; }
  footer .row {
    padding: 60px 0;
    align-items: baseline; }
  footer h3 {
    color: #fff;
    font-size: 17px;
    line-height: 1.3em;
    margin-top: 6px;
    text-transform: uppercase; }
  footer h4 {
    color: #FFF;
    font-size: 17px;
    font-weight: 700; }
  footer .logo {
    max-width: 205px; }
  footer ul {
    list-style: none;
    padding-left: 0; }
    footer ul li {
      padding-top: 10px; }
      footer ul li a {
        color: #8B90A0;
        font-size: 16px; }
        footer ul li a:hover {
          color: #fff;
          font-weight: 700; }
  footer .list-terms a {
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #8B90A0;
    margin: 0 40px 0 0; }
  footer .social-media {
    display: flex; }
    footer .social-media a img {
      padding-right: 5px; }
  footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form {
    padding: 0; }
  footer #rd-column-lhjemie0 > div {
    padding: 0;
    background: transparent; }
  footer #conversion-form-formulario-do-blog {
    display: flex !important;
    align-items: center;
    background-color: #272a33;
    border-radius: 16px;
    height: 50px;
    max-width: 250px; }
  footer #rd-form-lhjemie1 .bricks-form__input:not(textarea) {
    margin-top: 10px; }
    footer #rd-form-lhjemie1 .bricks-form__input:not(textarea):focus {
      border: 1px solid transparent;
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0; }
  footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form__input.error {
    margin-top: 25px;
    border: none; }
  footer #rd-form-lhjemie1 .bricks-form__submit {
    width: 50px; }
  footer #rd-button-lhjemie4 {
    margin-top: 0;
    background: transparent;
    border: 0;
    font-size: 0; }
    footer #rd-button-lhjemie4::before {
      content: '';
      background: url("assets/image/right-arrow.png");
      display: block;
      width: 15px;
      height: 15px;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

label.ff-item-qs.ff-qs-html {
  display: none !important; }

.ff-form .ff-item {
  padding-block: 10px !important; }

iframe .m7w29c.O8VmIc.tIvQIf {
  display: none !important; }

@media only screen and (max-width: 1200px) {
  br {
    display: none; }

  .btn {
    font-size: 16px; }

  .how-works .tabs .nav-tabs .nav-link {
    font-size: 18px; }

  .cta {
    padding: 100px 0 50px; }
    .cta h2 br {
      display: block; }

  .faq .accordion {
    width: 80%; }
    .faq .accordion h2 br {
      display: block; }
  .faq .accordion-button:focus {
    box-shadow: none !important; } }
@media only screen and (max-width: 820px) {
  header {
    padding: 40px 0; }
    header .menu {
      padding: 0 0 80px; }
      header .menu button.navbar-toggler {
        background: linear-gradient(284.09deg, #9757FF -1.11%, #3300FF 193.48%);
        border: none;
        border-radius: 50%;
        padding: 10px; }
        header .menu button.navbar-toggler span.navbar-toggler-icon {
          filter: invert(1); }
    header .navbar-expand-lg .navbar-collapse {
      padding: 20px 0 0; }
      header .navbar-expand-lg .navbar-collapse .nav-item a {
        font-size: 18px;
        line-height: 16px;
        text-align: right; }
        header .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
          margin-right: 0;
          padding: 20px 8px 0 0; }
      header .navbar-expand-lg .navbar-collapse .btn-area {
        display: grid;
        float: right; }
        header .navbar-expand-lg .navbar-collapse .btn-area .btn {
          background: transparent;
          text-align: right;
          padding: 18px 8px 18px 0;
          margin-right: 0;
          font-size: 24px;
          line-height: 16px; }
          header .navbar-expand-lg .navbar-collapse .btn-area .btn.purple {
            background: #7553E2;
            text-align: center;
            margin-top: 18px;
            padding: 18px 20px;
            font-size: 18px; }

  .how-works .tabs {
    padding: 60px 40px 0; }

  .steps .mobile img {
    margin: 0 auto;
    display: block; }

  .faq {
    padding: 50px 0 0; }
    .faq .accordion {
      width: 100%; }

  footer {
    margin-top: 100px; }
    footer .row .list-terms a {
      display: block;
      margin: 10px auto; }
    footer .row .social-media {
      justify-content: flex-start;
      width: 50%; } }
@media only screen and (max-width: 766px) {
  .btn {
    min-width: 100%; }

  header {
    padding: 0; }
    header .menu {
      background: rgba(15, 15, 15, 0.7);
      backdrop-filter: blur(12.5px);
      position: fixed;
      top: 0;
      left: 0;
      padding: 18px;
      z-index: 10;
      width: 100%; }
      header .menu .container {
        padding: 0; }
      header .menu .navbar-collapse.show {
        height: 25vh; }
    header .row img {
      margin-top: 120px; }
    header .row h1 {
      font-size: 24px;
      line-height: normal; }
    header h2 {
      display: none; }

  .how-works {
    margin: 50px 0; }
    .how-works h2 {
      font-size: 24px;
      line-height: normal; }
    .how-works .tabs {
      padding: 40px 24px;
      height: 330px;
      width: 90%; }
      .how-works .tabs .nav-tabs .nav-link {
        font-size: 16px; }
      .how-works .tabs .tab-content h3 {
        font-size: 20px; }

  .cta {
    padding: 60px 0 50px; }
    .cta h2 br {
      display: none; }

  .steps .number:last-child {
    width: 120px; }

  .faq {
    padding: 50px 0 0; }
    .faq .accordion {
      width: 100%; }
    .faq br {
      display: block; }

  footer {
    margin-top: 70px; }
    footer .row {
      padding: 50px 0; }
    footer .social-media {
      justify-content: flex-start; } }
