@font-face {
  font-family: "SF Pro Bold";
  src: url("./fonts/SF-Pro-Display-Bold.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Medium";
  src: url("./fonts/SF-Pro-Display-Medium.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.OTF") format("opentype"); }
h1, h2, h3, a {
  font-family: 'SF Pro Bold'; }

h1 {
  font-size: 46px;
  line-height: 55px;
  color: #fff; }
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 44px; } }
  @media only screen and (max-width: 766px) {
    h1 {
      font-size: 26px;
      line-height: 31px; } }

h2 {
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #fff; }
  @media only screen and (max-width: 766px) {
    h2 {
      font-size: 24px;
      line-height: normal; } }

p, input, select {
  font-family: 'SF Pro Display'; }

input, select {
  font-size: 18px;
  line-height: 21px;
  color: #5D6472; }

body {
  background: #111;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: #fff; }

img {
  max-width: 100%; }

.row {
  align-items: center; }

.btn {
  padding: 16px 40px;
  font-size: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  min-width: 200px;
  border-radius: 100px;
  text-align: center; }
  .btn.primary {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%); }
    .btn.primary:hover {
      background: #fff; }
      .btn.primary:hover span {
        background-image: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
        background-clip: text;
        -webkit-background-clip: text;
        /* Alguns navegadores precisam do prefixo */
        -webkit-text-fill-color: transparent; }
  .btn.secondary {
    background: #212121;
    border-radius: 100px; }
    .btn.secondary:hover {
      color: #212121;
      background: #fff; }

header .menu {
  padding: 50px 0 0; }
header .navbar-expand-lg .navbar-collapse {
  justify-content: end; }
  header .navbar-expand-lg .navbar-collapse .nav-item {
    text-align: center; }
    header .navbar-expand-lg .navbar-collapse .nav-item a {
      font-size: 16px;
      line-height: 16px;
      letter-spacing: -0.5px;
      color: #FFF; }
      header .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
        margin-right: 24px; }
  header .navbar-expand-lg .navbar-collapse .btn-area {
    display: flex;
    justify-content: flex-end; }
  header .navbar-expand-lg .navbar-collapse .btn {
    background: #3E465F;
    border-radius: 10px;
    padding: 16px 28px;
    margin-right: 8px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #FFFFFF; }
    header .navbar-expand-lg .navbar-collapse .btn.purple {
      background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
      border-radius: 100px;
      min-width: 89px; }
header .row {
  align-items: flex-start; }
header h1 {
  font-family: 'SF Pro Bold';
  font-weight: 700;
  font-size: 60px;
  color: #fff;
  margin-top: 120px; }
  header h1 span {
    color: #9776FF; }
header p {
  font-size: 18px;
  line-height: 28px;
  color: #EFEBFF;
  opacity: 0.7; }

.academy {
  background: url("assets/image/bg-creators.png") no-repeat center;
  background-size: contain;
  margin: 180px 0; }
  .academy .card {
    border-radius: 20px;
    background: url("assets/image/bg-opacity.png") no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    padding: 80px 40px 0;
    height: 536px; }
    .academy .card h3 {
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      color: #fff; }
      .academy .card h3 span {
        color: #4E4E4E; }
    .academy .card p {
      font-size: 22px;
      font-weight: 700;
      line-height: 40px;
      color: #fff; }

.acceleration .row {
  background: url("assets/image/bg-acceleration.png") no-repeat center;
  background-size: inherit;
  padding: 80px 0 100px; }
.acceleration h2 {
  text-align: center; }
.acceleration .card {
  border-radius: 16px;
  background: url("assets/image/bg-opacity-02.png") no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  padding: 60px 40px 0;
  margin-right: 30px; }
  .acceleration .card:last-child {
    margin-right: 0; }
  .acceleration .card h4 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700; }
  .acceleration .card img {
    position: relative;
    bottom: 6em;
    width: 170px; }
  .acceleration .card p {
    color: #E3E3E3;
    font-size: 18px;
    line-height: 32px;
    position: relative;
    bottom: 4rem; }

.steps {
  background: url("assets/image/bg-academy.png") no-repeat center;
  background-size: contain;
  padding: 180px 0; }
  .steps h2 {
    text-align: center;
    margin-bottom: 40px; }
  .steps h4 {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF; }
  .steps p {
    font-size: 18px;
    line-height: 32px;
    color: #E3E3E3; }
  .steps .subtitle {
    position: relative;
    top: 0.5rem;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    opacity: 0.6; }
  .steps .row:last-child {
    margin-top: 10px; }
  .steps .card {
    background: url("assets/image/bg-opacity-03.png") no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    border-radius: 16px;
    padding: 40px;
    margin-right: 30px;
    height: 470px; }
    .steps .card:last-child {
      margin-right: 0; }
  .steps .number {
    background: #141414;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 20px;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    color: #fff; }

.cta h3 {
  font-family: "SF Pro Display";
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  opacity: 0.8; }

.faq {
  padding: 100px 0 0; }
  .faq h2 {
    font-family: "SF Pro Medium";
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #E3E3E3;
    opacity: 0.8; }
  .faq .accordion {
    width: 70%;
    margin: 0 auto; }
  .faq .accordion-button {
    background: #232323;
    color: #E3E3E3;
    margin: 16px 0;
    padding: 0 24px; }
    .faq .accordion-button::after {
      filter: contrast(0.1); }
    .faq .accordion-button:not(.collapsed) {
      box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
      padding-bottom: 16px; }
  .faq .accordion-item {
    background: #232323;
    border-radius: 16px;
    color: #fff;
    border: 1px solid #232323;
    margin: 12px 0; }
  .faq .accordion-body {
    padding: 8px 24px 24px; }

footer {
  margin-top: 140px;
  border-top: 1px solid #3E465F; }
  footer .row {
    padding: 70px 0;
    align-items: baseline; }
  footer h3 {
    color: #fff;
    font-size: 17px;
    line-height: 1.3em;
    margin-top: 6px;
    text-align: left;
    text-transform: uppercase;
    max-width: 200px; }
  footer .logo {
    max-width: 205px; }
  footer .list-terms a {
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #8B90A0;
    margin: 0 40px 0 0; }
  footer .social-media {
    display: flex;
    justify-content: flex-end; }
    footer .social-media a img {
      padding: 0 5px; }

label.ff-item-qs.ff-qs-html {
  display: none !important; }

.ff-form .ff-item {
  padding-block: 10px !important; }

iframe .m7w29c.O8VmIc.tIvQIf {
  display: none !important; }

@media only screen and (max-width: 1200px) {
  br {
    display: none; }

  .btn {
    font-size: 16px; }

  .cta {
    padding: 100px 0 50px; }
    .cta h2 br {
      display: block; }

  .faq .accordion {
    width: 80%; }
    .faq .accordion h2 br {
      display: block; } }
@media only screen and (max-width: 820px) {
  header {
    padding: 40px 0; }
    header .menu {
      padding: 0 0 80px; }
      header .menu button.navbar-toggler {
        background: linear-gradient(284.09deg, #9757FF -1.11%, #3300FF 193.48%);
        border: none;
        border-radius: 50%;
        padding: 10px; }
        header .menu button.navbar-toggler span.navbar-toggler-icon {
          filter: invert(1); }
    header .navbar-expand-lg .navbar-collapse {
      padding: 20px 0 0; }
      header .navbar-expand-lg .navbar-collapse .nav-item a {
        font-size: 18px;
        line-height: 16px;
        text-align: right; }
        header .navbar-expand-lg .navbar-collapse .nav-item a:first-child {
          margin-right: 0;
          padding: 20px 8px 0 0; }
      header .navbar-expand-lg .navbar-collapse .btn-area {
        display: grid;
        float: right; }
        header .navbar-expand-lg .navbar-collapse .btn-area .btn {
          background: transparent;
          text-align: right;
          padding: 18px 8px 18px 0;
          margin-right: 0;
          font-size: 18px;
          line-height: 16px; }
          header .navbar-expand-lg .navbar-collapse .btn-area .btn.purple {
            background: #7553E2;
            text-align: center;
            margin-top: 18px;
            padding: 18px 20px;
            font-size: 18px; }

  .academy {
    background: url("assets/image/bg-mobile-creators.png") no-repeat center;
    background-size: contain; }
    .academy .row {
      margin: 0; }
    .academy .card {
      height: auto;
      margin-bottom: 40px;
      padding: 80px 40px; }
      .academy .card:last-child {
        margin-bottom: 0; }

  .acceleration .row {
    padding: 40px 0 100px;
    margin: 0; }
  .acceleration .card {
    margin-right: 0;
    margin-bottom: 60px; }
    .acceleration .card:last-child {
      margin-bottom: 0; }

  .steps {
    background: url("assets/image/bg-mobile-academy.png") no-repeat bottom;
    background-size: contain;
    padding: 0; }
    .steps .row {
      justify-content: center; }
      .steps .row:last-child {
        position: relative;
        bottom: 0; }
      .steps .row .card {
        margin-right: 0;
        margin-bottom: 16px;
        height: auto; }

  .cta .row {
    margin: 0; }

  .faq {
    padding: 50px 0 0; }
    .faq .accordion {
      width: 100%; }

  footer {
    margin-top: 100px; }
    footer .row .list-terms a {
      margin: 0 20px 0 0; } }
@media only screen and (max-width: 766px) {
  .btn {
    min-width: 100%; }

  header {
    padding: 0; }
    header .menu {
      background: rgba(15, 15, 15, 0.7);
      backdrop-filter: blur(12.5px);
      position: fixed;
      top: 0;
      left: 0;
      padding: 18px;
      z-index: 10;
      width: 100%; }
      header .menu .container {
        padding: 0; }
      header .menu .navbar-collapse.show {
        height: 25vh; }
    header .row img {
      margin-top: 120px; }
    header .row h1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 38px; }
    header h2 {
      display: none; }

  .cta {
    padding: 60px 0 50px; }
    .cta h2 br {
      display: none; }

  .step .number:last-child {
    width: 120px; }

  .faq {
    padding: 50px 0 0; }
    .faq .accordion {
      width: 100%; }
    .faq br {
      display: block; }

  footer {
    margin-top: 70px; }
    footer .row {
      padding: 50px 0; }
      footer .row .list-terms a {
        display: flex;
        margin: 10px 0; }
    footer .social-media {
      justify-content: flex-start; } }
