@import 'fonts';

body{
    background: #111;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: #fff;
}

img{
    max-width: 100%;
}

.row{
    align-items: center;
}

.btn-see-more{
    border-radius: 100px;
    background: #212121;
    padding: 16px 24px;
    width: 246px;
    display: block;
    margin: 0 auto;

    color: #fff;
    text-align: center;
    font-size: 18px;
    font-weight: 800;

    &:hover{
        background: #fff;
        color: #212121;
    }
}

header{

    .menu{
        padding: 50px 0 0;
        position: relative;
        z-index: 10;
    }
    .navbar-expand-lg .navbar-collapse{
        justify-content: end;

        .nav-item{
            text-align: center;
            a{
                font-size: 16px;
                line-height: 16px;
                letter-spacing: -0.5px;
                color: #FFF;
    
                &:first-child{
                    margin-right: 24px;
                }
            }
        }
    
        .btn-area{
            display: flex;
            justify-content: flex-end;
        }
    
        .btn{
            background: #3E465F;
            border-radius: 10px;
            padding: 16px 28px;
            margin-right: 8px;
    
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: -0.5px;
            color: #FFFFFF;
    
            &.purple{
                background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
                border-radius: 100px;
                min-width: 89px;
            }
    
        }
    } 


    h1{
        font-family: 'SF Pro Bold';
        font-weight: 700;
        font-size: 60px;
        color: #fff;
        margin-top: 120px;

        span{
            color: #9776FF;
        }
    }

    h2{
        font-weight: 700;
        font-size: 34px;
        line-height: 48px;
    }

    p{
        font-size: 18px;
        line-height: 28px;
        color: #EFEBFF;
        opacity: 0.7;
    }

}

.hero{
    margin-top: 90px;

    .search{
        display: flex;
        border-radius: 16px;
        background: #3F434E;
        border: 1px solid #3F434E;
        padding: 20px;

        input{
            color: #7D8594;
            font-size: 18px;
            font-weight: 500;
            padding: 0 20px;
            background: #3F434E;
            border: 1px solid #3F434E;

            &:focus {
                box-shadow: 0 0 0 0;
                outline: 0;
            }
        }
    }

    p{
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        line-height: 13.468px;
        opacity: 0.6;
    }

    .tag{
        border-radius: 100px;
        background: #202020;
        padding: 10px 16px;
        width: 126px;
        
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-weight: 500;
        line-height: 13.468px;
        opacity: 1;
    }

    .doubt{
        margin-top: 90px;
    }

    .card{
        border-radius: 16px;
        background: #1C1E22;
        padding: 32px;
        margin-right: 30px;

        &:last-child{
            margin-right: 0;
        }

        img{
            width: 50px;
        }

        a{
            color: #E3E3E3;

        font-size: 13px;
        font-weight: 600;
        line-height: 32px; 
        text-decoration-line: underline;
        }
    }
}

.faq{

    margin-top: 90px;

    .accordion-button{
        background: #232323;
        margin: 16px 0;
        padding: 17px 24px;

        color: #E3E3E3;
        font-size: 16px;
        font-style: normal;
        line-height: 22px;

        &::after{
            filter: contrast(0.1);
        }

        &:focus {
            box-shadow: 0 0 0 0;
            outline: 0;
        }

        &:not(.collapsed){
            box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
            padding-bottom: 16px;

        }
    }

     .accordion-item{
        background: #232323;
        border-radius: 16px;
        border: 1px solid #232323;
        margin: 12px 0;

        color: var(--support-grey-1, #E3E3E3);

        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        opacity: 0.8;
        
    }

    .accordion-body{
        padding: 8px 24px 24px;
    }
}

footer{
    margin-top: 60px;
    border-top: 1px solid #3E465F;

    .row{
        padding: 70px 0;
        align-items: baseline;
    }

    h3{
        color: #fff;
        font-size: 17px;
        line-height: 1.3em;
        margin-top: 6px;
        text-align: left;
        text-transform: uppercase;
        max-width: 200px;
    }

    .logo{
        max-width: 205px;
    }

    .list-terms{
        a{
            font-size: 13px;
            line-height: 16px;
            text-align: right;
            letter-spacing: 0.5px;
            color: #8B90A0;
            margin: 0 40px 0 0;
        }
    }

    .social-media{
        display: flex;
        justify-content: flex-end;
        a{
            img{
                padding: 0 5px;
            }
        }
    }
}

#faq, #doubt, #articles{

    header{

        nav{
            display: flex;
            justify-content: space-between;

            .search{
                display: flex;
                border-radius: 16px;
                background: #3F434E;
                border: 1px solid #3F434E;
                width: 430px;
                padding: 16px 20px;
        
                input{
                    color: #7D8594;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 0 20px;
                    background: #3F434E;
                    border: 1px solid #3F434E;
        
                    &:focus {
                        box-shadow: 0 0 0 0;
                        outline: 0;
                    }
                }
            }
        }
    }

    .hero{
        margin-bottom: 50px;

        p{
            opacity: 1;
            padding-bottom: 30px;
            margin-bottom: 50px;
            border-bottom: 1px solid #3E465F;

            a{
                opacity: 0.7;

                &:hover{
                    color: #fff;
                    opacity: 1;
                }
            }

            span{
                padding: 0 10px;
            }
        }
    }
    .faq{
        margin: 0 0 80px;

        &:last-child{
            margin-bottom: 50px;
        }
        .row{
            align-items: baseline;
            justify-content: space-between;
        }
    }

    .group-questions{
        .row{
            align-items: baseline;

            .questions{
                border-radius: 16px;
                background: #202020;
                padding: 32px;
                margin-top: 10px;
        
                &:first-child{
                    margin-top: 0;
                }
        
                a{
                    &:hover{
                        text-decoration: underline;
                        color: #fff;
                    }
                }
            }

            .cards{
                border-radius: 16px;
                background: #1C1E22;
                margin-right: 30px;
                padding: 32px;

                h3{
                    margin: 20px 0;
                    span{
                        color: #9776FF;
                    }
                }

                a{
                    text-decoration-line: underline;

                    &:hover{
                        color: #9776FF ;
                    }
                }


                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}

#articles{
    .hero{
        .nav{
            border: 0;
            .nav-item{
                
               button{
                font-size: 32px;
                font-weight: 500;
                line-height: 38px;
                color: #FFF;
                opacity: 0.3;
                background: transparent;
                padding: 0 0 10px;
                margin-right: 27px;
                border: 0;

                &.active{
                    opacity: 1;
                    border-bottom: 3px solid #fff;
                    
                }
    
                &:hover{
                    opacity: 1;
                }
               }
            }
        }
    }


    .group-questions{
        &:last-child{
            padding-bottom: 100px;
        }
    }
}

#doubt{

    .hero{
        
        br{
            display: none;
        }
    }
    .select-pages{
        a{
            font-size: 32px;
            font-weight: 500;
            line-height: 38px;
            color: #FFF;
            opacity: 0.3;
            margin-right: 30px;

            &:last-child{
                margin-right: 0;
            }

            &.active{
                opacity: 1;
                border-bottom: 3px solid #fff;
                padding: 0 0 10px;
            }

            &:hover{
                opacity: 1;
            }
        }
    }
}


//ipad pro, tall desktop//

@media only screen and (max-width: 1200px){
    br{
        display: none;
    }

    .btn{
        font-size: 16px;
    }

}

//ipad, ipad air, ipad mini

@media only screen and (max-width: 820px){
    header {
        padding: 40px 0;

        .menu{
            padding: 0;

            button.navbar-toggler {
                background: linear-gradient(284.09deg, #9757FF -1.11%, #3300FF 193.48%);
                border: none;
                border-radius: 50%;
                padding: 10px;

                span.navbar-toggler-icon{
                    filter: invert(1);
                }
            }
        }

        .navbar-expand-lg{
            .navbar-collapse{

                padding: 20px 0 0;
                .nav-item{
                    a{
                        ffont-size: 18px;
                        line-height: 16px;
                        text-align: right;

                        &:first-child{
                            margin-right: 0;
                            padding: 20px 8px 0 0;
                        }
                    }
                }
                .btn-area{
                    display: grid;
                    float: right;

                    .btn{
                        background: transparent;
                        text-align: right;
                        padding: 18px 8px 18px 0;
                        margin-right: 0;

                        font-size: 24px;
                        line-height: 16px;

                        &.purple{
                            background: #7553E2;
                            text-align: center;
                            margin-top: 18px;
                            padding: 18px 20px;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .hero{

        .doubt, .faq{
            margin-top: 50px;
        }

        .tag{
            margin-top: 10px;
        }
       .card{
        margin-right: 0;
       }
    }

    footer{
        margin-top: 100px;

        .row{
            .list-terms{
                a{
                    margin: 0 20px 0 0;
                }
            }
        }

    }

    #faq, #doubt, #articles{
        .hero{
            margin-top: 30px;
        }
    }

    #articles{
        .group-questions{

            &:last-child{
                padding-bottom: 0;
            }

            .row{
                justify-content: center;

                .cards{
                    padding: 24px 24px 34px;
                    margin-right: 20px;

                    h3{
                        font-size: 20px;
                        margin: 20px 0 10px;
                    }
                }
            }
        }
    }

}

// smart phones 
@media only screen and (max-width: 766px){

    .btn{
        min-width: 100%;
    }


    header {
        padding: 0;

        .menu{
            background: rgba(15, 15, 15, 0.7);
            backdrop-filter: blur(12.5px);
            position: fixed;
            top: 0;
            left: 0;
            padding: 18px;
            z-index: 10;
            width: 100%;

            .container{
                padding: 0;
            }

            .navbar-collapse{
                &.show{
                    height: 25vh;
                }
            }
        } 
    }

    .hero{
        margin-top: 130px;
        .row{
            justify-content: center;

            .tag{
                width: 117px;
            }
        }
    }

    footer{
        margin-top: 70px;

        .row{
            padding: 50px 0;
            .list-terms{
                a{
                    display: flex;
                    margin: 10px 0;
                }
            }
        }

        .social-media{
            justify-content: flex-start;
        }
    }

    #faq, #doubt, #articles{

        header{
    
            nav{
                .search{
                    // width: 260px;
                    display: none;
                }
            }
        }
    }

    #doubt{
        .hero{
            margin-top: 130px;


            p{
                line-height: 21.713px;
                br{
                    display: block;
                }
            }
        }

        .select-pages{
            a{
                font-size: 22px;
                margin-right: 20px;
            }
        }
    }

    #articles{

        .hero{
            margin-top: 130px;

            .nav{
                .nav-item{
                    
                   button{
                    font-size: 22px;
                    margin-right: 20px;
                    border: 0;
                   }
                }
            }
        }

        .group-questions{
            .row{
                justify-content: center;

                .cards{
                    padding: 24px;
                    margin-right: 0;
                    margin-bottom: 16px;
                    height: auto;
                    display: flex;

                    img{
                        margin-right: 16px;
                    }

                    h3{
                        margin: 0 0 10px;
                    }

                    a{
                        color: #E3E3E3;
                        font-size: 13px;
                    }
                }
            }
        }
    }
}