@charset "UTF-8";
@font-face {
  font-family: "SF Pro Display Bold";
  src: url("./fonts/SF-Pro-Display-Bold.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Display Medium";
  src: url("./fonts/SF-Pro-Display-Medium.OTF") format("opentype"); }
@font-face {
  font-family: "SF Pro Display";
  src: url("./fonts/SF-Pro-Display-Regular.OTF") format("opentype"); }
h1, h2, a {
  font-family: 'SF Pro Display Bold'; }

h1 {
  font-size: 46px;
  line-height: 55px;
  color: #fff; }
  @media only screen and (max-width: 1024px) {
    h1 {
      font-size: 44px; } }
  @media only screen and (max-width: 766px) {
    h1 {
      font-size: 26px;
      line-height: 31px; } }

h2 {
  font-size: 26px;
  line-height: 38px;
  color: #F0F0F0; }
  @media only screen and (max-width: 766px) {
    h2 {
      font-size: 24px;
      line-height: normal; } }

h3, p, input, select {
  font-family: 'SF Pro Display'; }

input, select {
  font-size: 18px;
  line-height: 21px;
  color: #5D6472; }

body {
  background: #111; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.row {
  align-items: center; }

header {
  padding: 60px 0 100px; }

.btn {
  padding: 16px 24px;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  min-width: 200px;
  width: 300px;
  margin: 0 auto;
  display: block;
  background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
  border-radius: 100px; }
  .btn:hover {
    background: #fff;
    color: #3300FF; }

.first-section .form {
  background: #1C1E25;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(20px);
  max-width: 440px;
  padding: 20px 0;
  margin: 0 auto; }
  .first-section .form .ff-title, .first-section .form label {
    display: none; }
  .first-section .form input::placeholder {
    color: #5C688D;
    font-size: 16px; }
  .first-section .form input:focus {
    background: #fff;
    color: #3E465F; }
  .first-section .form input, .first-section .form select {
    background: #272A33;
    border-radius: 16px;
    padding: 15px 20px;
    width: 100%;
    border: none;
    color: #fff; }
  .first-section .form select.form-control {
    font-weight: 700;
    font-size: 16px;
    color: #5C688D;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto; }
  .first-section .form select:focus {
    background: #fff;
    color: #3E465F; }
  .first-section .form .ff-submit {
    background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%);
    border-radius: 100px;
    width: 100%;
    border: none;
    font-size: 18px !important;
    line-height: 22px;
    text-align: center;
    color: #FFF; }
  .first-section .form .ff-form button span {
    font-size: 16px; }
  .first-section .form h3 {
    font-size: 16px;
    padding: 10px 30px 0;
    color: #fff;
    text-align: center; }
  .first-section .form p {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    padding: 10px 30px 0; }
    .first-section .form p a {
      color: #5C688D; }
  .first-section .form img {
    display: none; }
  .first-section .form .ff-form .ff-item {
    padding-bottom: 16px; }
  .first-section .form .ff-form .ff-section-header {
    display: none; }
  .first-section .form .ff-form .ff-description {
    padding-top: 16px;
    padding-bottom: 0; }
  .first-section .form .ff-form .ff-success {
    display: block;
    padding: 20px 0 60px;
    height: 120px; }
    .first-section .form .ff-form .ff-success p {
      font-size: 18px;
      color: #5D6472;
      padding: 10px 0; }
  .first-section .form .ff-form .ff-success + div {
    display: none; }
  .first-section .form .ff-form .ff-widget-error {
    color: #FF9B9B; }
    .first-section .form .ff-form .ff-widget-error b {
      display: inline-block;
      background-color: #FF9B9B;
      line-height: normal; }
.first-section img {
  max-width: 90%; }
.first-section p {
  color: #EFEBFF;
  font-size: 18px;
  opacity: 0.7;
  font-weight: 400;
  line-height: 28px; }

.second-section {
  padding: 100px 0 0; }
  .second-section img {
    margin: 0 auto;
    display: block; }
    .second-section img.logos {
      max-height: 100px; }
  .second-section .mobile-desk {
    display: none; }

.third-section {
  padding: 100px 0 0; }
  .third-section .carousel-cell {
    width: 33%;
    height: 380px;
    margin-right: 28px;
    background: #141414;
    border-radius: 16px;
    padding: 40px 20px;
    counter-increment: carousel-cell; }
    .third-section .carousel-cell h3 {
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #FFF;
      opacity: 0.4; }
    .third-section .carousel-cell p {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #FFF; }
      .third-section .carousel-cell p.autor {
        color: #A1A4B1; }
  .third-section .carousel-cell.is-selected {
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: linear-gradient(129deg, #27244D -31.08%, rgba(35, 35, 35, 0.17) 101.7%);
    backdrop-filter: blur(20px); }
  .third-section .button-group .button {
    background: transparent;
    border: none; }

.fourth-section .carousel .carousel-cell .card-list .card-video {
  position: relative;
  width: 100%; }
.fourth-section .carousel .carousel-cell .card-list .card-video img {
  width: 100%;
  height: auto; }
.fourth-section .carousel .carousel-cell .card-list .card-video:hover .social-hover {
  visibility: visible;
  height: 100%;
  transform: translateY(0%);
  transition: all 0.6s ease-in-out;
  -webkit-transform: translateY(0%);
  overflow: hidden; }
.fourth-section .carousel .carousel-cell .card-list .card-video:hover video {
  opacity: 0.6; }
.fourth-section .carousel .carousel-cell .card-list video {
  object-fit: cover;
  border-radius: 16px; }
.fourth-section .carousel .carousel-cell .card-list .card-video:hover .extra-info {
  display: block; }
.fourth-section .carousel .carousel-cell video {
  width: 100%; }
.fourth-section .carousel .carousel-cell h2 {
  font-size: 26px;
  margin-bottom: 48px;
  line-height: normal;
  color: #ffffff; }
.fourth-section .carousel .carousel-cell .myProgress {
  width: 100%;
  background-color: #3e465f;
  margin-bottom: 20px; }
.fourth-section .carousel .carousel-cell .status {
  width: 0%;
  height: 3px;
  background-color: #ffffff; }
.fourth-section .carousel .carousel-cell .social-hover {
  visibility: hidden;
  height: 0px;
  transition: all 0.3s ease-in-out;
  transform: translateY(30%);
  -webkit-transform: translateY(30%);
  overflow: hidden;
  border-radius: 0px 0 16px 16px; }
.fourth-section .carousel .carousel-cell .extra-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transition: all 0.6s ease-in-out;
  padding-top: 200px;
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), #010001 90%);
  border-radius: 0px 0 16px 16px; }
.fourth-section .carousel .carousel-cell .social-hover > div.com-info {
  display: flex;
  background: #1e1e1e;
  border-radius: 142px;
  margin-bottom: 5px;
  padding: 5px 15px;
  margin-left: 7%;
  margin-right: 7%;
  width: 11rem; }
.fourth-section .carousel .carousel-cell i.fab.fa-tiktok {
  color: #ffffff !important;
  text-shadow: 1px 1px #3d1254; }
.fourth-section .carousel .carousel-cell i.fab.fa-instagram {
  color: #ffffff !important;
  border-radius: 5px; }
.fourth-section .carousel .carousel-cell .social-hover > div.com-info p {
  color: #8b90a0;
  font-size: 16px; }
.fourth-section .carousel .carousel-cell .social-hover > div > p:first-child {
  color: #a1a4b1;
  font-size: 16px;
  font-weight: 600; }
.fourth-section .carousel .carousel-cell p.weekp {
  color: #8b90a0 !important; }
.fourth-section .carousel .carousel-cell .social-hover > div > p:last-child {
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
  text-transform: uppercase; }
.fourth-section .carousel .carousel-cell .social-display .social-info {
  display: flex;
  align-items: center;
  margin-left: 7%;
  margin-right: 7%;
  transition: all 0.3s ease-in-out; }
.fourth-section .carousel .carousel-cell .social-display p {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  font-weight: 600;
  transition: all 0.3s ease-in-out; }
.fourth-section .carousel .carousel-cell .social-display .social-info i {
  color: #ff0000;
  font-size: 20px; }
.fourth-section .carousel .carousel-cell .social-display {
  transition: all 0.6s ease-in-out; }
.fourth-section .carousel .carousel-cell .social-display .copyright-info {
  display: flex;
  align-items: center;
  padding: 10px 0px 20px;
  margin-left: 7%;
  margin-right: 7%; }
.fourth-section .carousel .carousel-cell .social-display .copyright-info i {
  color: white;
  font-size: 20px; }
.fourth-section .carousel .carousel-cell .extra-info .special-info {
  display: flex;
  align-items: center;
  padding: 20px 7% 20px; }
.fourth-section .carousel .carousel-cell .extra-info .special-info > div {
  display: flex;
  align-items: center; }
.fourth-section .carousel .carousel-cell .extra-info .special-info > div p {
  color: #74e7d0;
  padding: 0 3px; }
.fourth-section .carousel .carousel-cell .extra-info .special-info i {
  color: #74e7d0;
  font-size: 13px; }
.fourth-section .carousel .carousel-cell .social-hover > p {
  color: #8b90a0;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 15px;
  text-transform: uppercase;
  margin-left: 7%;
  margin-right: 7%; }
.fourth-section .carousel .carousel-cell .social-hover .next-info {
  display: flex;
  align-items: center;
  background-image: linear-gradient(90.09deg, #3e465f -56.06%, rgba(62, 70, 95, 0) 99.91%);
  padding: 15px 34px; }
.fourth-section .carousel .carousel-cell .next-info p {
  font-size: 16px;
  color: #d3d4d8;
  font-weight: 600; }
.fourth-section .carousel .carousel-cell .social-hover .next-info i {
  padding-left: 15px;
  color: #8b90a0; }

.five-section {
  padding: 100px 0 0; }
  .five-section .card {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: linear-gradient(129deg, #27244D -31.08%, rgba(35, 35, 35, 0.17) 101.7%);
    backdrop-filter: blur(20px);
    padding: 40px 20px 0;
    margin-right: 30px;
    height: 310px; }
    .five-section .card:last-child {
      margin-right: 0; }
    .five-section .card .card_title {
      align-items: center; }
      .five-section .card .card_title .number {
        background: #141414;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 900;
        font-size: 20px;
        color: #fff;
        margin-right: 10px; }
      .five-section .card .card_title h3 {
        color: #FFF;
        font-size: 18px;
        font-weight: 700; }
    .five-section .card p {
      color: #E3E3E3;
      font-size: 15px;
      line-height: 28px; }

.six-section {
  padding: 100px 0 0; }
  .six-section .card {
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.17);
    background: linear-gradient(129deg, #27244D -31.08%, rgba(35, 35, 35, 0.17) 101.7%);
    backdrop-filter: blur(20px);
    padding: 40px 20px 0;
    margin-right: 30px;
    height: 350px; }
    .six-section .card:last-child {
      margin-right: 0; }
    .six-section .card .card_title {
      align-items: center; }
      .six-section .card .card_title h3 {
        color: #FFF;
        font-size: 28px;
        font-style: normal;
        font-weight: 700; }
        .six-section .card .card_title h3 span {
          color: #9776FF; }
    .six-section .card p {
      color: #E3E3E3;
      font-size: 15px;
      line-height: 28px; }

footer {
  margin-top: 140px;
  border-top: 1px solid #3E465F; }
  footer .row {
    padding: 60px 0;
    align-items: baseline; }
  footer h3 {
    color: #fff;
    font-size: 17px;
    line-height: 1.3em;
    margin-top: 6px;
    text-transform: uppercase;
    max-width: 180px; }
  footer h4 {
    color: #FFF;
    font-size: 17px;
    font-weight: 700; }
  footer .logo {
    max-width: 205px; }
  footer ul {
    list-style: none;
    padding-left: 0; }
    footer ul li {
      padding-top: 10px; }
      footer ul li a {
        color: #8B90A0;
        font-size: 16px; }
        footer ul li a:hover {
          color: #fff;
          font-weight: 700; }
  footer .list-terms a {
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #8B90A0;
    margin: 0 40px 0 0; }
  footer .social-media {
    display: flex; }
    footer .social-media a img {
      padding-right: 5px; }
  footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form {
    padding: 0; }
  footer #rd-column-lhjemie0 > div {
    padding: 0;
    background: transparent; }
  footer #conversion-form-formulario-do-blog {
    display: flex !important;
    align-items: center;
    background-color: #272a33;
    border-radius: 16px;
    height: 50px;
    max-width: 250px; }
  footer #rd-form-lhjemie1 .bricks-form__input:not(textarea) {
    margin-top: 10px; }
    footer #rd-form-lhjemie1 .bricks-form__input:not(textarea):focus {
      border: 1px solid transparent;
      box-shadow: 0 0 0 0;
      border: 0 none;
      outline: 0; }
  footer #rdstation-bricks-embeddable-form-bricks-component-1ABMwOA55ETO_N3vLfGmTQ .bricks-form__input.error {
    margin-top: 25px;
    border: none; }
  footer #rd-form-lhjemie1 .bricks-form__submit {
    width: 50px; }
  footer #rd-button-lhjemie4 {
    margin-top: 0;
    background: transparent;
    border: 0;
    font-size: 0; }
    footer #rd-button-lhjemie4::before {
      content: '';
      background: url("assets/image/right-arrow.png");
      display: block;
      width: 15px;
      height: 15px;
      background-size: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

label.ff-item-qs.ff-qs-html {
  display: none !important; }

.ff-form .ff-item {
  padding-block: 10px !important; }

iframe .m7w29c.O8VmIc.tIvQIf {
  display: none !important; }

#rd-form-lfqsenfm .bricks-form__input:not(textarea) {
  height: 40px !important;
  border-radius: 15px;
  background: #272A33;
  border: 1px solid #272A33; }

#rd-form-lfqsenfm .with-select-flags > .phone-input-group > .phone-country {
  background: #272A33; }

#rd-form-lfqsenfm .select2-container .select2-choice {
  background: #272A33 !important; }

#rd-form-lfqsenfm .bricks-form__label {
  margin: 10px 0; }

#rd-form-lfqsenfm .bricks-form__label.always-visible,
#rd-form-lfqsenfm .bricks-form__field__option .bricks-form__label {
  display: flex !important; }

input#rd-radio_buttons_field-lfqukqbt_1_a_49__funcion치rios,
input#rd-radio_buttons_field-lfqukqbt_50_a_499__funcion치rios,
input#rd-radio_buttons_field-lfqukqbt_500_a_4999__funcion치rios,
input#rd-radio_buttons_field-lfqukqbt_Mais_de_5000__funcion치rios {
  margin: 0px 10px 0px -1.33em !important;
  width: 16px !important; }

#rd-button-lfqsenfp {
  border-radius: 100px !important;
  background: linear-gradient(275.83deg, #9757FF -22.92%, #3300FF 92.78%); }

#rd-button-lfqsenfp {
  font-size: 18px !important; }

@media only screen and (max-width: 820px) {
  header {
    padding: 60px 0 80px; }

  .first-section h1 {
    text-align: center;
    margin-bottom: 34px; }
  .first-section img {
    display: none; }

  .fourth-section {
    padding: 100px 0; }
    .fourth-section .stories .carousel .carousel-cell {
      width: 32%; }

  .third-section .button-group {
    display: none; }

  footer {
    margin-top: 100px; }
    footer .row .list-terms a {
      display: block;
      margin: 10px auto; }
    footer .row .social-media {
      justify-content: flex-start;
      width: 50%; } }
@media only screen and (max-width: 766px) {
  header {
    padding: 32px 0; }

  .first-section h1 {
    text-align: left;
    margin-bottom: 32px; }
  .first-section h1 br, .first-section p br {
    display: none; }
  .first-section p {
    margin-bottom: 30px; }
  .first-section form {
    max-width: 100%;
    padding: 0 16px;
    margin-top: 0; }
  .first-section .ff-form .ff-powered-img {
    padding-top: 0; }

  .second-section {
    overflow-x: hidden;
    padding: 50px 0 70px; }
    .second-section h2 {
      width: 80%;
      margin: 0 auto;
      line-height: normal; }
    .second-section .mobile-desk {
      display: block;
      position: relative;
      left: 11%; }
    .second-section .logos {
      width: 80%; }

  .third-section {
    padding: 0; }
    .third-section .carousel-cell {
      width: 100%; }

  .fourth-section {
    padding: 0; }
    .fourth-section .stories {
      margin: 60px auto 0; }
    .fourth-section .flickity-page-dots .dot {
      width: 38px; }
    .fourth-section .stories .carousel .carousel-cell {
      width: 57%; }
      .fourth-section .stories .carousel .carousel-cell .single-video {
        width: 180%; }

  .five-section {
    padding: 100px 15px 0; }
    .five-section .card {
      padding: 40px 20px;
      margin: 10px 0;
      height: auto; }

  .six-section {
    padding: 100px 15px 0; }
    .six-section .card {
      margin: 10px 0; }

  footer {
    margin-top: 70px; }
    footer .row {
      padding: 50px 0; }
    footer .social-media {
      justify-content: flex-start; } }
